.animationEnemy1 {
  background-image: url(../assets/imgs/enemy1.png);
  animation: playEnemy1 0.5s steps(2) infinite;
  -webkit-animation: playEnemy1 0.5s steps(2) infinite;
  -moz-animation: playEnemy1 0.5s steps(2) infinite;
  -ms-animation: playEnemy1 0.5s steps(2) infinite;
  -o-animation: playEnemy1 0.5s steps(2) infinite;
}


@keyframes playEnemy1 {
	from {background-position:0px;}
	to {background-position:-512px;}
}


@-webkit-keyframes playEnemy1 {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-moz-keyframes playEnemy1 {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-ms-keyframes playEnemy1 {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-o-keyframes playEnemy1 {
   from { background-position:0px; }
     to { background-position: -512px; }
}